<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Radzen Material Dark Theme -->
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-dark.css">
    <!-- Custom App Styles -->
    <link rel="stylesheet" href="app.css" />
    <!-- Scoped Styles -->
    <link rel="stylesheet" href="SmartProduction.styles.css" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
